@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-serif);
  letter-spacing: -0.02em;
}

h2 {
  font-family: var(--font-serif);
  letter-spacing: -0.01em;
}

h3, h4, h5, h6 {
  font-family: var(--font-sans);
  letter-spacing: -0.01em;
}
